aside {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.55);

  /* hide completion screen */
  opacity: 0;
  pointer-events: none;
}

.inner-modal {
  background: white;
  border-radius: 15px;
  border: 5px black solid;
  padding: 25px;
  max-width: 650px;
}

.completed {
  opacity: 1;
  pointer-events: all;
}
